EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDcchXdwWt2ZRH839NpLLjoAmPyGTMHUy0
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=petshoplm-faa3a.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=petshoplm-faa3a
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=petshoplm-faa3a.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=163174894044
EXPO_PUBLIC_FIREBASE_APP_ID=1:163174894044:web:6d4b5a4bc20aa0b6e2a719
